.DS_Store
core/build/*.d
*.o
*.obj
*.pyc
*.dvdat
*.npy
*.egg-info
*.log
.ipynb_checkpoints
__pycache__
tw3d
tw3d.exe
docs/_build/
docs/doxyxml/
tools/twutils/dist/
tools/twutils/build/
tools/twtest/*.png
tools/twtest/*.gif
